<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3002/public/css/pdf.css">
    <title>Gerador de arquivos PDF</title>
</head>

<body>

    <div class="center">
        <h1>Título do Arquivo PDF</h1>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>IMC</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Mateus dos Santos Pereira</td>
                    <td>17</td>
                    <td>20</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>